<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="apiendpoint" value="https://localhost:44328" />
    <add key="token" value="3KZ2J54gEmZD2tDtySKUJmFCFkxtPe96pq8VaaxjBWD3BvbrJUmgZRKynXEC2JfSyvc7vbVp2aC9L5BcJbXzKENeGAvTuwvvtesaELT44WcWfYgAxTzZt4XaXExDe38W" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.6.10.0" newVersion="106.6.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>